@import "../main";

.container {
    position: relative;
    max-width: 500px;
    width: 60%;
    margin: 350px auto 100px auto;

    .title {
        font-family: $avenirMed;
        font-size: 24px;
        letter-spacing: 0.5px;
        color: $lightBackground;
        margin-bottom: 35px;
    }

    .divider {
        height: 2px;
        width: 100px;
        background-color: $lightBackground;
        margin-bottom: 30px;
    }

    .paragraph {
        font-family: $quattro;
        font-size: 18px;
        line-height: 35px;
        letter-spacing: 0.52px;
        color: $lightBackground;
        position: relative;
        margin-bottom: 35px;

        .link {
            text-decoration: underline;
            outline: none;
            color: $darkGrey;
        }
    }

    .bottom {
        height: 125px;
    }
}
