@import "mixins";
@import "fonts";
@import "colors";

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    background-color: #FBFBFB;
    position: absolute;
}
